.modalOverride {
  :global(.ant-modal-content) {
    padding: 0 !important;
    background-color: #ffffff !important;
  }

  :global(.ant-modal-header) {
    padding: 16px 24px !important;
    margin-bottom: 0 !important;
    background-color: #ffffff !important;
  }

  :global(.ant-modal-body) {
    padding: 24px !important;
    background-color: #ffffff !important;
  }
} 