#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Add these styles */
.ant-input-password-custom {
  background-color: rgb(51 65 85) !important;
}

.ant-input-password-custom .ant-input-password-icon {
  color: #94a3b8 !important;
}

.ant-input-password-custom .ant-input-password-icon:hover {
  color: #3b82f6 !important;
}

.ant-input-password-custom .ant-input {
  background-color: rgb(51 65 85) !important;
  color: white !important;
}

.ant-input-password-custom:hover .ant-input {
  background-color: rgb(51 65 85) !important;
  color: white !important;
}

.ant-input-password-custom .ant-input:focus {
  background-color: rgb(51 65 85) !important;
  color: white !important;
}
